/* COULEUR */
:root {
    --bg: #0b0b0b;
    --bg2: #0d0e14;
    --bg3: #1c1e2e;
    --ink: #ededed;
    --ink2: #aaabaf;
    --ink3: #ececec;
    --accent: #7c6fe0;
    --accent2: #818cf8;
    --accent3: #4caf50;
    --rule: rgba(200, 204, 224, 0.1);
    --rule2: rgba(209, 209, 209, 0.24);
    --title: #f0a060;
    --border: gray;
    --bghover: rgba(255, 255, 255, 0.4);
    --sidebarMenu-hover: rgba(255, 255, 255, 0.26);
}


.iconmenu img, .dd-arrow img {
    filter: brightness(0) saturate(0%) invert(90%) sepia(0%) saturate(0%) hue-rotate(0deg);
}

/* POLICE */
:root {
    --font-head: 'Syne', sans-serif;
    --font-body: 'DM Sans', sans-serif;
    --font-mono: 'IBM Plex Mono', monospace;
}

/* BADGE */
:root {
    /*ROUGE*/
    --badge-bg-red: rgba(200, 64, 26, 0.1);
    --badge-col-red: #c8401a;
    --badge-bor-red: rgba(200, 64, 26, 0.3);
    /*BLEU*/
    --badge-bg-blue: rgba(88, 101, 242, 0.1);
    --badge-col-blue: #5865F2;
    --badge-bor-blue: rgba(88, 101, 242, 0.3);
    /*JAUNE*/
    --badge-bg-yellow: rgba(255, 160, 0, 0.1);
    --badge-col-yellow: #e6900a;
    --badge-bor-yellow: rgba(255, 160, 0, 0.3);
    /*VERT*/
    --badge-bg-green: rgba(0, 180, 120, 0.1);
    --badge-col-green: #00a870;
    --badge-bor-green: rgba(0, 180, 120, 0.3);
}

:root {
    --radiusBox: 10px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* ─── TRANSITION THÈME ─── */
*, *::before, *::after {
    transition: background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.15s ease;
}

/* ─── BOUTON THÈME (sidebar) ─── */
#theme-toggle-btn {
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    gap: 0;
    border-radius: var(--radiusBox);
}

.theme-label {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.06em;
    color: var(--ink2);
    padding: 10px 14px;
    white-space: nowrap;
    cursor: pointer;
}