:root{
    --main-color: #344493;
    --secondary-color: #222d61;
    --text-color: #d0d0d0;
    --font-text-family: 'DM Sans', sans-serif;
}


.relief-button{
    padding: 0.75rem 1.75rem;
    background: var(--main-color);
    border-radius: 10px;
    border: solid 2px var(--secondary-color);
    box-shadow: 0 8px 0 var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 0.6rem;
    transition: 0.15s ease;
    cursor: pointer;
}

.relief-button:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 0 var(--secondary-color);
}

.relief-button span{
    font-size: 1rem;
    font-family: var(--font-text-family);
    font-weight: 400;
    letter-spacing: 0.08em;
    color: var(--text-color);
}

.relief-button i{
    font-size: 1.15rem;
    color: var(--text-color);
}

.relief-button:active{
    transform: translateY(8px);
    box-shadow: 0 1px 0 var(--secondary-color);
}