/* ─── COULEURS ─── */
:root {
    --bg: #f2ede6; /* Noir charbon  */
    --bg2: #ffffff; /* Noir légèrement plus clair*/
    --bg3: #7a7168; /* Gris anthracite*/

    --ink: #0e0d0c; /* Blanc cassé crème*/
    --ink2: #1a1917; /* Beige gris */
    --ink3: #252320; /* Gris moka*/

    --accent: #cd2a1b; /* Rouge viking*/
    --accent2: #e8e0d4; /* Blanc nacré — survols*/
    --accent3: #8c1a10; /* Rouge sombre*/

    --rule: rgba(242, 237, 230, 0.10);
    --rule2: rgba(242, 237, 230, 0.05);

    --title: #c0281a; /* Rouge sang*/
    --bghover: rgba(192, 40, 26, 0.12); /* Hover rouge*/
    --code-color: #e05c3a; /* Rouge orangé*/
    --border: rgba(242, 237, 230, 0.14);
    --borderFonce: rgba(19, 19, 19, 0.54); /* Bordure foncé */
    --sidebarMenu-hover: rgba(181, 5, 5, 0.93);
}

/* ─── POLICE ─── */
:root {
    --font-title: 'Embed code', sans-serif;
    --font-subtitle: 'Montserrat ', sans-serif;
    --font-text: 'DM Sans', sans-serif;
    --font-button: 'Syne', sans-serif;
}

/* ─── BADGES ─── */
:root {
    /* ROUGE*/
    --badge-bg-red: rgba(192, 40, 26, 0.15);
    --badge-col-red: #e04030;
    --badge-bor-red: rgba(192, 40, 26, 0.40);

    /* BLEU */
    --badge-bg-blue: rgba(60, 100, 180, 0.12);
    --badge-col-blue: #5c90e8;
    --badge-bor-blue: rgba(60, 100, 180, 0.35);

    /* JAUNE */
    --badge-bg-yellow: rgba(200, 130, 20, 0.12);
    --badge-col-yellow: #d4901a;
    --badge-bor-yellow: rgba(200, 130, 20, 0.35);

    /* VERT */
    --badge-bg-green: rgba(30, 160, 90, 0.12);
    --badge-col-green: #28b870;
    --badge-bor-green: rgba(30, 160, 90, 0.35);
}


:root {
    --radiusBox: 7px;
    --radiusBox2: 14px;
}


*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    transition: background-color 0.25s ease,
    border-color 0.25s ease,
    color 0.15s ease;
}

